<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        /* *{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEltAp6dsHvjm-p9YbO6tBccAta3dFlyGXzA&usqp=CAU");
            /* background-size:auto ; 
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
         */

    </style>
</head>
<body>
    <h1>Welcome!!!</h1>
</body>
</html>